<h1>Welcome to the day view folks</h1>
<!-- <input type="date" id="date" ng-model="userDate.date" />
<button ng-click="addNewDay()">Add New Date</button> -->

<datepicker date-format="shortDate">
  <input ng-model="date" type="text"/>
</datepicker>
<button ng-click="addNewDay()">Add New Date</button>

<div class="container">
	<div class="row">
		<div class="col-xs-6 day-view" ng-repeat="day in newDates">
			<div class="col-xs-8">
				<a ng-href="/#!/meal/{{day.id}}">{{day.date}}</a>
			</div>
			<div class="col-xs-4">
				<button>Delete</button>
				<button>Edit</button>
			</div>
		</div>
	</div>
</div>


