<div class="col-xs-12">
  <div class="col-xs-8 col-xs-offset-1">
    <!-- <select ng-options="item as item.label for item in items track by item.id" ng-model="selected"></select> -->
    <select ng-model="type">
      <option>Breakfast</option>
      <option>Lunch</option>
      <option>Dinner</option>
    </select>
    <input type="text" ng-model="userInput.query" placeholder="Search..." />
    <button ng-click="getFacts()">Get Facts</button>
  </div>
  <div class="col-xs-12">
    <div class="row">
      <div class="container-fluid" ng-repeat="meal in meals">
        Food Name: {{meal.food_name}}<br />
        Calories: {{meal.nf_calories}}<br  />
        Sugars: {{meal.nf_sugars}}
      </div>
    </div>
  </div>
</div>
